<div class="tab-pane fade show active" id="tblTabContent" role="tabpanel" aria-labelledby="home-tab"
     tabindex="0">
    <div class="mb-3">
        <a
                href="{% url 'partidos:cupones:exportar_excel' pk %}"
                class=" btn btn-success btn-sm"><i class="bi-file-earmark-excel-fill"></i> Descargar cupones
        </a>
    </div>
    <div class="table-responsive">

        <table class="table  table-bordered table-hover ">
            <thead class="table-light">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Correo</th>
                <th>Celular</th>
                <th>Fecha Uso</th>
                <th>Tribuna</th>
                <th class="text-center">Ticket</th>
            </tr>
            </thead>
            <tbody>
            {% for cupon in page_obj %}
                <tr>
                    <td>{{ cupon.codigo }}</td>
                    <td>{{ cupon.nombres|default_if_none:"-" }}</td>
                    <td>{{ cupon.correo|default_if_none:"-" }}</td>
                    <td>{{ cupon.celular|default_if_none:"-" }}</td>
                    <td>{{ cupon.fecha_uso|default_if_none:"-" }}</td>
                    <td>{{ cupon.tribuna.tribuna }}</td>
                    <td class="text-center"><a href="{% url 'partidos:cupones:ticket-pdf' cupon.codigo_uuid %}"
                                               class="btn btn-sm btn-success"><i class="bi-ticket-perforated"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="First"
                           hx-get="{% url 'partidos:cupones:lista' pk %}?page=1"
                           hx-trigger="click"
                           hx-target="#tblTabContent"
                           hx-swap="outerHTML">
                            &laquo; Primero
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Previous"
                           hx-get="{% url 'partidos:cupones:lista' pk %}?page={{ page_obj.previous_page_number }}"
                           hx-trigger="click"
                           hx-target="#tblTabContent"
                           hx-swap="outerHTML">
                            Anterior
                        </a>
                    </li>
                {% endif %}

                <li class="page-item disabled">
                  <span class="page-link">
                    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                  </span>
                </li>

                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Next"
                           hx-get="{% url 'partidos:cupones:lista' pk %}?page={{ page_obj.next_page_number }}"
                           hx-trigger="click"
                           hx-target="#tblTabContent"
                           hx-swap="outerHTML">
                            Siguiente
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="javascript:void(0)" aria-label="Last"
                           hx-get="{% url 'partidos:cupones:lista' pk %}?page={{ page_obj.paginator.num_pages }}"
                           hx-trigger="click"
                           hx-target="#tblTabContent"
                           hx-swap="outerHTML">
                            Último &raquo;
                        </a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


